 <%=form_tag('/provider') do%>
 <div class="form-group col-md-12">
 	<label for="name">Reseller Name:</label>
 	<input type="text" class="form-control" id="criteria1" name="name">
 </div>
 <div class="form-group col-md-12">
 	<label for="email">Email:</label>
 	<input type="text" class="form-control" id="criteria1" name="email">
 </div>
 <div class="col-md-1 col-md-offset-11">
 	
 	<button type="submit" class="btn btn-default">Submit</button>
 </div>
 <%end%>