/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}
.log-out{
    padding-top:15px; 
}

.blue-navbar {
    background-color: #E5E5E5;
    
}

.btn-yellow{
    background-color: #D8B81E;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 20px;
}
.navbar-item{
    width:200px;
    padding-left: 70px;
    font-size: 20px;
    color: black;

}

.selected-navbar-item{
    background-color: #D8B81E !important;
    
}

.navbar-nav > li > a {
    padding-left: 70px;
}

.navbar {
    border-radius: 0px;
}

.filters-button {
    margin-top: 26px;
}

.opportunity-item-tittle {
    font-weight: 900;
    font-size: 16px;
    color: rgb(58, 58, 60);
}

.panel-blue > .panel-heading {
    color: #FFFCFC;
    background-color: #95BBDD;
}

.btn-excel:hover {
    color: #FFFDFD;
    background-color: #3a9dd3;
    border-color: #0e6696;
}

.send-excel-btn{
    margin-top: 10px;

}

.bg-perfil{
    background: url(/assets/images/bg-perfil.jpg) center;
    background-size: cover;
    color: white;
}

.blue-header{
    background-color: #95BBDD;
    color: black;
}

.login-body{
    height: 100%;
    width: 100%;
    background: url(/assets/images/fondo.jpg) center;
}
.form {
  position: relative;
  z-index: 1;
  background: rgba(197, 197, 197, 0.64);
  max-width: 360px;
  margin: 0 auto 100px;
margin-top: 2%;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}