
<!DOCTYPE html>
<html>
<head>
	<title>Oportunities</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="row header">
		<div class="col-md-6 col-md-offset-1"> 
			<h3><span style="color:red"><a class="logo" target="_self"><img src="/assets/images/logo.png" width="164" height="60" alt=""></a></span>| <span style="color:red"><a class="logo" target="_self"><img src="/assets/images/logo-go.png" width="164" height="40" alt=""></a></span></h3>  
		</div>
	</div>
	<div class="jumbotron bg-perfil">
		<div class="container">
			<div class="text-center">
				<h1>GEO</h1>
				
			</div>
		</div>
	</div>
	<div class="container">
		factura
	</div>
		
	</div>
</body>
</html>