<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
   p {
    white-space: pre;
    color: black;
  }
</style>
</head>
<body>
  <p>
    Greetings,


    It is our pleasure to notify you that your organization has obtained the best score for the opportunity
    <a href="https://desolate-meadow-84025.herokuapp.com/check_resellers/<%=@oportunity.id%>">click here</a>
  </p>
</body>
</html>
