<% if user_signed_in? %>
<div class="row header">
  <div class="col-md-6 col-md-offset-1"> 
    <h3><span style="color:red"><a class="logo" target="_self"><img src="/assets/images/logo.png" width="164" height="60" alt=""></a></span>| <span style="color:red"><a class="logo" target="_self"><img src="/assets/images/logo-go.png" width="164" height="40" alt=""></a></span></h3>  
  </div>  
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="option-item selected-navbar-item"><%= link_to 'Opportunities', oportunities_path, class:"option-item-link  #{'selected-navbar-item' if @selected=='opp'}"%></li>
      <li class="option-item"><%= link_to 'Resellers', providers_path, class:"option-item-link #{'selected-navbar-item' if @selected=='prov'}"%></li>
      <li class="option-item"><%= link_to 'Templates', templates_path, class:"option-item-link #{'selected-navbar-item' if @selected=='tem'}"%></li>
      <li class="option-item"><%= link_to 'Products', capabilities_path, class:"option-item-link #{'selected-navbar-item' if @selected=='templates'}"%></li>
    </ul>
  </div>
</nav>
<% end %>